In [1]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
dataset=pd.read_csv('dataset csv for supervised/singapore-residents-by-age-group-ethnic-group-and-sex-end-june-annual.csv')

In [3]:
dataset

       year                        level_1          level_2   value
0      1957                Total Residents    0  -  4 Years  264727
1      1957                Total Residents    5  -  9 Years  218097
2      1957                Total Residents    10 - 14 Years  136280
3      1957                Total Residents    15 - 19 Years  135679
4      1957                Total Residents    20 - 24 Years  119266
...     ...                            ...              ...     ...
20455  2018  Other Ethnic Groups (Females)  65 Years & Over    3386
20456  2018  Other Ethnic Groups (Females)  70 Years & Over    2087
20457  2018  Other Ethnic Groups (Females)  75 Years & Over    1362
20458  2018  Other Ethnic Groups (Females)  80 Years & Over     842
20459  2018  Other Ethnic Groups (Females)  85 Years & Over     437

[20460 rows x 4 columns]

In [4]:
nRowsRead = 1000
# singapore-residents-by-age-group-ethnic-group-and-sex-end-june-annual.csv has 20460 rows in reality, but we are only loading/previewing the first 1000 rows
df1 = pd.read_csv('dataset csv for supervised/singapore-residents-by-age-group-ethnic-group-and-sex-end-june-annual.csv', delimiter=',', nrows = nRowsRead)
df1.dataframeName = 'singapore-residents-by-age-group-ethnic-group-and-sex-end-june-annual.csv'
nRow, nCol = df1.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 1000 rows and 4 columns

In [5]:
df1.head(5)

   year          level_1        level_2   value
0  1957  Total Residents  0  -  4 Years  264727
1  1957  Total Residents  5  -  9 Years  218097
2  1957  Total Residents  10 - 14 Years  136280
3  1957  Total Residents  15 - 19 Years  135679
4  1957  Total Residents  20 - 24 Years  119266

In [7]:
ply.plot(df1)

AttributeError: module 'matplotlib.pyplot' has no attribute 'plotPerColumnDistribution'