# steps for Data Preprocessing

In [1]:
'''
step1 : Importing Libraries
step2 : Importing Dataset
step3 : Handling Missing values/Data
        1-Detecting those particular Rows(Contained Null Value)
        2-Finding Mean and Mod of particular Column acording to type of Data    
step4 : Seperating Dependent and Independent variables in dataset
step5 : Encoding of Categorical text variables/column
        1-column transformation, One hot Encoding and Label Encoding
        2-Feature scaling and splitting the datset into Train and Test set

step6 :splitting train and testing data
'''

'\nstep1 : Importing Libraries\nstep2 : Importing Dataset\nstep3 : Handling Missing values/Data\n        1-Detecting those particular Rows(Contained Null Value)\n        2-Finding Mean and Mod of particular Column acording to type of Data    \nstep4 : Seperating Dependent and Independent variables in dataset\nstep5 : Encoding of Categorical text variables/column\n\n'

# step1 : Importing Libraries

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

# step2 : Importing Dataset

In [3]:
dataset=pd.read_csv('datasets csv/Data.csv')

In [4]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [5]:
dataset.describe()

             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

In [6]:
dataset['Age'].mean()

38.77777777777778

In [7]:
dataset.isnull().any()

Country      False
Age           True
Salary        True
Purchased    False
dtype: bool

In [8]:
dataset.isnull()

   Country    Age  Salary  Purchased
0    False  False   False      False
1    False  False   False      False
2    False  False   False      False
3    False  False   False      False
4    False  False    True      False
5    False  False   False      False
6    False   True   False      False
7    False  False   False      False
8    False  False   False      False
9    False  False   False      False

In [9]:
dataset['Age'].isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
9    False
Name: Age, dtype: bool

In [10]:
dataset['Salary'].isnull()

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
9    False
Name: Salary, dtype: bool

# step3 : Handling Missing values/Data
#        1-Detecting those particular Rows(Contained Null Value)
#        2-Finding Mean and Mod of particular Column acording to type of Data

dataset.dropna()   # to delete a Row containing Null values axis=0 for row and axis=1 for column

In [11]:
dataset['Age'].fillna(  (dataset['Age'].mean()),inplace=True  )
dataset['Salary'].fillna((dataset["Salary"].mean()),inplace=True)

In [12]:
dataset

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

In [13]:
dataset['Country'].value_counts()

France     4
Germany    3
Spain      3
Name: Country, dtype: int64

In [14]:
dataset['Age']=dataset['Age'].round()

In [15]:
dataset['Purchased'].value_counts()

No     5
Yes    5
Name: Purchased, dtype: int64

In [16]:
dataset.isnull().any()

Country      False
Age          False
Salary       False
Purchased    False
dtype: bool

# step4 : Seperating Dependent and Independent variables in dataset

In [17]:

# iloc is Similar to slicing Rows and Columns [rows ,column]

In [18]:
#for independent variable
x=dataset.iloc[:,0:3].values    # convert pandas dataframe into numpy array use values

In [19]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 39.0, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [20]:
#  for dependent variable
y=dataset.iloc[:,-1].values

In [21]:
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [22]:
y.ndim

1

In [23]:
x.ndim

2

In [24]:
x.shape

(10, 3)

In [25]:
y.shape

(10,)

In [26]:
dataset

   Country   Age        Salary Purchased
0   France  44.0  72000.000000        No
1    Spain  27.0  48000.000000       Yes
2  Germany  30.0  54000.000000        No
3    Spain  38.0  61000.000000        No
4  Germany  40.0  63777.777778       Yes
5   France  35.0  58000.000000       Yes
6    Spain  39.0  52000.000000        No
7   France  48.0  79000.000000       Yes
8  Germany  50.0  83000.000000        No
9   France  37.0  67000.000000       Yes

# step5 : Encoding of Categorical text variables/column

In [27]:
import sklearn

In [28]:
sklearn.__version__

'0.22.1'

In [29]:
!pip install scikit-learn==0.22.1

Requirement already satisfied: scikit-learn==0.22.1 in d:\py\lib\site-packages (0.22.1)
Requirement already satisfied: joblib>=0.11 in d:\py\lib\site-packages (from scikit-learn==0.22.1) (0.15.1)
Requirement already satisfied: scipy>=0.17.0 in d:\py\lib\site-packages (from scikit-learn==0.22.1) (1.4.1)
Requirement already satisfied: numpy>=1.11.0 in d:\py\lib\site-packages (from scikit-learn==0.22.1) (1.18.1)

In [30]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 39.0, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [31]:
# 1-column transformation, One hot Encoding and Label Encoding
# 2-Feature scaling and splitting the datset into Train and Test set

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [32]:
ct=ColumnTransformer([("on",OneHotEncoder(),[0])],remainder="passthrough")       #for conversion of categorical column into 
#binary code
x= ct.fit_transform(x)
x

array([[1.0, 0.0, 0.0, 44.0, 72000.0],
       [0.0, 0.0, 1.0, 27.0, 48000.0],
       [0.0, 1.0, 0.0, 30.0, 54000.0],
       [0.0, 0.0, 1.0, 38.0, 61000.0],
       [0.0, 1.0, 0.0, 40.0, 63777.77777777778],
       [1.0, 0.0, 0.0, 35.0, 58000.0],
       [0.0, 0.0, 1.0, 39.0, 52000.0],
       [1.0, 0.0, 0.0, 48.0, 79000.0],
       [0.0, 1.0, 0.0, 50.0, 83000.0],
       [1.0, 0.0, 0.0, 37.0, 67000.0]], dtype=object)

In [33]:
x.shape

(10, 5)

In [34]:
#Removing dummy variable

In [35]:
x=x[:,1:]
x

array([[0.0, 0.0, 44.0, 72000.0],
       [0.0, 1.0, 27.0, 48000.0],
       [1.0, 0.0, 30.0, 54000.0],
       [0.0, 1.0, 38.0, 61000.0],
       [1.0, 0.0, 40.0, 63777.77777777778],
       [0.0, 0.0, 35.0, 58000.0],
       [0.0, 1.0, 39.0, 52000.0],
       [0.0, 0.0, 48.0, 79000.0],
       [1.0, 0.0, 50.0, 83000.0],
       [0.0, 0.0, 37.0, 67000.0]], dtype=object)

In [36]:
x.shape

(10, 4)

In [37]:
from sklearn.preprocessing import LabelEncoder

In [38]:
lb= LabelEncoder()
y= lb.fit_transform(y)
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [39]:
y.shape

(10,)

In [40]:
x

array([[0.0, 0.0, 44.0, 72000.0],
       [0.0, 1.0, 27.0, 48000.0],
       [1.0, 0.0, 30.0, 54000.0],
       [0.0, 1.0, 38.0, 61000.0],
       [1.0, 0.0, 40.0, 63777.77777777778],
       [0.0, 0.0, 35.0, 58000.0],
       [0.0, 1.0, 39.0, 52000.0],
       [0.0, 0.0, 48.0, 79000.0],
       [1.0, 0.0, 50.0, 83000.0],
       [0.0, 0.0, 37.0, 67000.0]], dtype=object)

In [41]:
# it is feature scaling it will bring all range from 0 and 1  

from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(x)
x

array([[-6.54653671e-01, -6.54653671e-01,  7.55609652e-01,
         7.49473254e-01],
       [-6.54653671e-01,  1.52752523e+00, -1.71465267e+00,
        -1.43817841e+00],
       [ 1.52752523e+00, -6.54653671e-01, -1.27872403e+00,
        -8.91265492e-01],
       [-6.54653671e-01,  1.52752523e+00, -1.16247639e-01,
        -2.53200424e-01],
       [ 1.52752523e+00, -6.54653671e-01,  1.74371458e-01,
         6.63219199e-16],
       [-6.54653671e-01, -6.54653671e-01, -5.52176284e-01,
        -5.26656882e-01],
       [-6.54653671e-01,  1.52752523e+00,  2.90619097e-02,
        -1.07356980e+00],
       [-6.54653671e-01, -6.54653671e-01,  1.33684785e+00,
         1.38753832e+00],
       [ 1.52752523e+00, -6.54653671e-01,  1.62746694e+00,
         1.75214693e+00],
       [-6.54653671e-01, -6.54653671e-01, -2.61557187e-01,
         2.93712492e-01]])

# step6 :splitting train and testing data

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)  #20 % fot testing data 0.2 and 
# 80% for agorithm to build model

In [44]:
x_train

array([[ 1.52752523e+00, -6.54653671e-01,  1.74371458e-01,
         6.63219199e-16],
       [-6.54653671e-01, -6.54653671e-01, -2.61557187e-01,
         2.93712492e-01],
       [-6.54653671e-01,  1.52752523e+00, -1.71465267e+00,
        -1.43817841e+00],
       [-6.54653671e-01,  1.52752523e+00,  2.90619097e-02,
        -1.07356980e+00],
       [-6.54653671e-01, -6.54653671e-01,  1.33684785e+00,
         1.38753832e+00],
       [-6.54653671e-01,  1.52752523e+00, -1.16247639e-01,
        -2.53200424e-01],
       [-6.54653671e-01, -6.54653671e-01,  7.55609652e-01,
         7.49473254e-01],
       [-6.54653671e-01, -6.54653671e-01, -5.52176284e-01,
        -5.26656882e-01]])

In [46]:
x_train.shape

(8, 4)

In [47]:
y_train

array([1, 1, 1, 0, 1, 0, 0, 1])

In [48]:
y_train.shape

(8,)

In [49]:
x_test

array([[ 1.52752523, -0.65465367, -1.27872403, -0.89126549],
       [ 1.52752523, -0.65465367,  1.62746694,  1.75214693]])

In [50]:
y_test

array([0, 0])